<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link href="main.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">
    <link  href="http://fonts.googleapis.com/css?family=Reenie+Beanie:regular" rel="stylesheet" type="text/css">

    <title>
    </title>

    <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
    <script   src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="lib/angular.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-animate.js"></script>

    <script src="app.js"></script>
    <script src="controllers/ticket.controller.js"></script>
    <script src="directives/heading.directive.js"></script>
    <script src="directives/ticket.directive.js"></script>

  </head>
  <body id="body" ng-controller="ticketCtrl">
    <div class="row">
      <heading-directive></heading-directive>
    </div>
    <div class="row" id="tickets">
      <div class="col-xs-4" ondrop="angular.element(document.getElementById('body')).scope().drop(event, 'todo')" ondragover="angular.element(document.getElementById('body')).scope().allowDrop(event)">
        <div ng-repeat="ticket in tickets | filter:{todo:'true'} " class="ticket" draggable="true" ondragstart="angular.element(document.getElementById('body')).scope().drag(event)" id="{{ticket.id}}">
          <ticket-directive></ticket-directive>
        </div>
      </div>
      <div class="col-xs-4" ondrop="angular.element(document.getElementById('body')).scope().drop(event, 'inprogress')" ondragover="angular.element(document.getElementById('body')).scope().allowDrop(event)">
        <div ng-repeat="ticket in tickets | filter:{inprogress:'true'} " class="ticket" draggable="true" ondragstart="angular.element(document.getElementById('body')).scope().drag(event)" id="{{ticket.id}}">
          <ticket-directive></ticket-directive>
        </div>
      </div>
      <div class="col-xs-4" ondrop="angular.element(document.getElementById('body')).scope().drop(event, 'done')" ondragover="angular.element(document.getElementById('body')).scope().allowDrop(event)">
        <div ng-repeat="ticket in tickets | filter:{done:'true'} " class="ticket" draggable="true" ondragstart="angular.element(document.getElementById('body')).scope().drag(event)" id="{{ticket.id}}">
          <ticket-directive></ticket-directive>
        </div>
      </div>
      <div class="col-xs-12">
        <form class="add-new" ng-submit="addTicket()"  ui-keypress="{13:'myFunc($event)'}">
          
          <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input ticket_input" type="text" id="title" ng-model="title">
            <label class="mdl-textfield__label" for="title">Title...</label>
          </div>

          <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input ticket_input" type="text" id="description" ng-model="description">
            <label class="mdl-textfield__label" for="description">Description...</label>
          </div>

          <input class="mdl-button mdl-js-button mdl-js-ripple-effect" type="submit" value="Ok" >

        </form>
      </div>
    </div>


  </body>
</html>