.add-new {
  margin-top: 50px;
  margin-left: 35%;
  margin-right: 35%;
  width: 30%;
  height: auto;
  background-color: #EFEFEF;
}

.add-new div {
  margin-left: 5%;
  margin-right: 5%;
}

#title {
  font-size: 140%;
  font-weight: bold;
  padding-bottom: 10px;
}

#description {
  font-family: "Reenie Beanie", arial, sans-serif;
  font-size: 180%;
  height:auto;
  -webkit-transition: height 1s ease;
  -moz-transition: height 1s ease;
  -ms-transition: height 1s ease;
  -o-transition: height 1s ease;
  transition: height 1s ease;
}

.ticket {
  border: 5px solid #8ADD87;
  border-radius: 10%;
  margin-top: 30px;
  margin-left: 17%;
  margin-right: 17%;
  width: 66%;
  background-color: #9BEE98;

}

.ticketRemoveButton {
  border-radius: 50%;
  height: auto;
  background: #CDCCCD;
  border: 3px solid red;

  text-align: center;
  color: red;
  width: 9%;
  margin-left: 91%;
}

#tickets > div {
  min-height: 250px;
}

body {
	background-color: #DDDDDD;
}

h5 {
  text-align: center;
}

.ticket.ng-enter {
    -webkit-transition:0.5s linear all;
    -moz-transition:0.5s linear all;
    -o-transition:0.5s linear all;
    transition:0.5s linear all;
    max-height: 0;
    opacity: 0;
    left: -50px;
}
 
.ticket.ng-enter.ng-enter-active {
    max-height: 90px;
    opacity: 1;
    left: 0;
}
 
.ticket.ng-leave {
  -webkit-animation:0.5s my_animation;
  -moz-animation:0.5s my_animation;
  -o-animation:0.5s my_animation;
  animation:0.5s my_animation;
}
 
@keyframes my_animation {
  from {
    max-height: 90px;
    opacity: 1;
    left: 0;
  }
  to {
    max-height: 0;
    opacity: 0;
    left: -50px;
  }
}
 
@-webkit-keyframes my_animation {
  from {
    max-height: 90px;
    opacity: 1;
    left: 0;
  }
  to {
    max-height: 0;
    opacity: 0;
    left: -50px;
  }
}
 
@-moz-keyframes my_animation {
  from {
    max-height: 90px;
    opacity: 1;
    left: 0;
  }
  to {
    max-height: 0;
    opacity: 0;
    left: -50px;
  }
}
 
@-o-keyframes my_animation {
  from {
    max-height: 90px;
    opacity: 1;
    left: 0;
  }
  to {
    max-height: 0;
    opacity: 0;
    left: -50px;
  }
}